<%= form_with(model: friend) do |form| %>
  <% if friend.errors.any? %>
    <% friend.errors.each do |error| %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= error.full_message %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
  <% end %>

  <div class="mb-3">
    <%= form.label :first_name, class: "form-label"%>
    <%= form.text_field :first_name, class: "form-control", placeholder: "First name"%>
  </div>

  <div class="mb-3">
    <%= form.label :last_name, class: "form-label" %>
    <%= form.text_field :last_name, class: "form-control", placeholder: "Last name" %>
  </div>

  <div class="mb-3">
    <%= form.label :email, class: "form-label" %>
    <%= form.text_field :email, class: "form-control", placeholder: "Email" %>
  </div>

  <div class="mb-3">
    <%= form.label :phone, class: "form-label" %>
    <%= form.text_field :phone, class: "form-control", placeholder: "Phone" %>
  </div>

  <div class="mb-3">
    <%= form.label :twitter, class: "form-label" %>
    <%= form.text_field :twitter, class: "form-control", placeholder: "Twitter" %>
  </div>

  <div>
    <%= form.submit class: "btn btn-outline-success" %>
  </div>
<% end %>
