<tr>
  <td><%= friend.first_name %></td>
  <td><%= friend.last_name %></td>
  <td><%= friend.email %></td>
  <td><%= friend.phone %></td>
  <td><%= friend.twitter %></td>
  <td><%= link_to 'Show', friend_path(friend.id), class: "link-info" %></td>
  <td><%= link_to "Edit", edit_friend_path(friend.id), class: "link-success" %></td>
  <td><%= button_to "Delete", friend_path(friend.id), method: :delete, class: "btn btn-link btn-custom link-danger" %></td>
</tr>
